
$primary-color: #1BDD3B;
$border-color: #000;
$color-text: #065706;

.container{
	background: radial-gradient(circle, green, green);
	font-family: 'Pangolin', cursive;
	border: 10px solid $border-color;
	border-radius: 20px;
	margin-top: 2px;
}

h1 {
	padding: 5px;
	background: $primary-color;
	border: 3px solid $border-color;
	border-radius: 20px;
}

p {
	font-weight: bolder;
	color:$color-text;

}

.vertical_line {border-right: 1px solid #fff;}

h4 {
	width: 100px;
	text-align: center;
	padding: 5px;
	background: $primary-color;
	border: 3px solid $border-color;
	border-radius: 10px;
	position: relative;
	left:45px;
}

input[type="text"] {
	margin: 10px;

	&:focus {
		box-shadow: 0 0 5px rgba(69, 192, 26, 1);
		border: 1px solid rgba(69, 192, 26, 1);
	}
}

#submit {
	width: 135px;
	height: 60px;
	color: $color-text;
	background-color: $primary-color;
	border: 1px solid #00FF7C;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #0BA825;
	margin: 20px;
	border: none;
	position: relative;
	left: 30px;
	transition: all ease 0.3s;

		&:active {
			box-shadow: 0 3px 0 #00823F;
			top: 3px;
		}

		&:focus {
			outline: none;
		}
}

#split {
	width: 135px;
	height: 60px;
	color: $color-text;
	background-color: $primary-color;
	border: 1px solid #00FF7C;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #0BA825;
	margin: 20px;
	border: none;
	position: relative;
	left: 10px;
	transition: all ease 0.3s;

		&:active {
			box-shadow: 0 3px 0 #00823F;
			top: 3px;
		}

		&:focus {
			outline: none;
		}
}

ol {
	list-style-type: none;
		
	li {
		position: relative;
		right: 20px;
		font-weight: bolder;
		font-size: 20px;
	}

}

.col-md-3 {

	#output {
		li {
			color: #1D2D27;
			position: relative;
		}
	}

	#output1 {
		li {
		color: #033F63;
		position: relative;
		right: 35px;
		}
	}

	#output2 {
		li {
		color: #504602;
		position: relative;
		right: 35px;
		}
	}
}

.showTeams {
	font-size: 21px;
	padding: 5px;
	color: $primary-color;
}

.teams {
	font-size: 15px;
	padding: 5px;
	background-color: $border-color;
	color: $primary-color;
	border-radius: 4px;
}

.left {
	width: 100px;
	height: 100px;
}

.switch {
	text-decoration: none;
	font-size: 20px;
	position: relative;
	left: 100px;
	top: 10px;
	color: green;
	background-color: $border-color;
	border-radius: 50%;
	padding: 5px;

		&:hover {
			text-decoration: none;
			color: $primary-color;
		}
}

.changeLanguage {
	position: relative;
	left: 100px;
	top: 10px;
	color: $primary-color;
	border-radius: 5px;
	padding: 5px;
}
